.auto-play{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.auto-play .item{
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 28px;
}

.logo img{
	display: block;
	width: 120px;
}

.menu-wrap{
	position: absolute;
	z-index: 1;
	width: 100%;
	display: none;
}

a.cur-nav{
	display: block;
	position: absolute;
	top: 20px;
	font-weight: normal;
	font-family: "dinlight";
	color: #000;
	z-index: 2;
	font-size: .9rem;
	text-align: center;
	line-height: 20px;
	left: 20px;
}
a.cur-nav i{
	display: inline-block;
	width: 1em;
	height: 20px;
	background: url(../images/return.png) no-repeat center center;
	background-size: 1em;
	vertical-align: top;
	margin-right: 5px;
}

a.menu-icon{
	display: block;
	position: absolute;
	right: 20px;
	top: 15px;
	z-index: 2;
	width: 30px;
	height: 30px;
	background: url(../images/list.png) no-repeat center center;
	background-size: 15px;
}

a.menu-icon-black{
	display: block;
	position: absolute;
	right: 15px;
	top: 12px;
	z-index: 2;
	width: 30px;
	height: 30px;
	background: url(../images/list1.png) no-repeat center center;
	background-size: 1em;
}

ul.menu{
	position: absolute;
	left: 23px;
	top: 0;
	margin-top: 0;
	z-index: 2;
	width: 100%;
}

ul.menu li{
}

ul.menu li a{
	display: block;
}

ul.menu li .line-l{
	display: block;
	float: left;
	height: 1px;
	width: 20px;
	background:#fff;
	margin-top: 48px;
}

ul.menu li .line-l.active{
	height:2px;
	margin-top: 30px;
}

ul.menu li .menu-name{
	float: left;
	font-family: "dinlight";
	color: #fff;
	font-size: .6rem;
	font-weight: normal;
	display: block;
}

ul.menu li .line-r{
	float: left;
	height: 1px;
	background: #fff;
	margin-top: 30px;
	display: block;
}

.nav{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	background: #fff;
	width: 25%;
	display: none;
}

.nav a{
	display: block;
	color: #000;
	font-size: .8rem;
	width: 100%;
	text-align: center;
	height: 25px;
	line-height: 25px;
	padding: 4px 0;
}

.nav a.active{
	font-weight: bold;
}

.work-wrap{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.work-wrap .page-l{
	width: 34%;
	height: 100%;
	background: #fff;
}

.work-wrap .page-r{
	width: 66%;
	height: 100%;
}

.menu-work{
	position: absolute;
	top: 24%;
	left: 0;
	z-index: 2;
	width: 100%;
}

.menu-work li{
	display:block;
	position: relative;
	width: 100%;
	clear: both;
	cursor: pointer;
	margin-bottom: 20px;
}

.menu-work .year-name,
.menu-work .line-c-l{
	display: block;
	float: left;
}
.menu-work .line-l,
.menu-work li .line-c-r,
.menu-work li .work-list
{
	visibility:hidden;
	float: left;
}
.menu-work li .year-r{
	visibility:hidden;
	float: right;
}
.menu-work li.active .line-l,
.menu-work li.active .line-c-r,
.menu-work li.active .work-list,
.menu-work li.active .year-r
{
	visibility: visible;
}

.menu-work li .work-list{
	display: none;
	position: absolute;
	top: 160%;
	left: 34%;
	z-index: 2;
	width: 66%;
}
.menu-work li.active .work-list{
	display: block;
}

.menu-work .line-c-l{
	height: 1px;
	background: #3a3a3a;
	margin-top: 7%;
}

.menu-work .line-l{
	width: 15%;
	height: 1px;
	background: #3a3a3a;
	margin-top: 7%;
}

.menu-work .line-c-r{
	
	height: 1px;
	background: #3a3a3a;
	margin-top: 7%;
}
.menu-work li a.first-work{
	display: none;
	float: left;
	color: #fff;
	margin-top: 5%;
	line-height: 16px;
	font-size: 1rem;
	padding: 0 10px;
	font-family: "dinlight";
	display:none;
}
.menu-work li.active a.first-work{
	display: block;
}

.menu-work .year-r{
	height: 1px;
	background: #3a3a3a;
	margin-top: 7%;
}

.menu-work .year-name{
	color: #000;
	font-size: .9rem;
	line-height: 16px;
	text-align: center;
	width: 12%;
	margin-top: 5%;
}

.work-list a{
	display: block;
	color: #fff;
	font-size: 1rem;
	line-height: 16px;
	text-align: center;
	font-weight: normal;
	font-family: "dinlight";
	padding: 5% 0;
}

.work-detail-wrap {
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.work-detail-wrap .page-l{
	width:70%;
	height: 100%;
	background:#fff;
}

.work-detail-wrap .page-r{
	width:30%;
	height: 100%;
	background:#000;
	color: #fff;
}

.slider{
	margin: 20% 20px 0;
    height: 35%;
    position: relative;
    z-index: 1;
}

.s-inner{
	height: 100%;
	position: relative;
}

ul.img-wrap{
	width: 100%;
	height: 100%;
}

ul.img-wrap li{
	width: 100%;
	height: 100%;
}

ul.img-wrap li.active{
	display: block;
}

ul.img-wrap li{
	display: none;
}

.page{
	overflow: hidden;
	margin-top: 5px;
}

a.prev{
	display: block;
	float: left;
	color: #000;
	font-size: 14px;
	overflow: hidden;
}

a.prev span{
	display: block;
	float:left;
	margin-right:5px;
	font-family: "dinlight";
}
a.prev span.icon{
	width: 17px;
	height: 11px;
	margin-top: 4px;
	background: url('../images/arrow-left.png') no-repeat;
}
a.next span.icon{
	width: 17px;
	height: 11px;
	background: url('../images/arrow-right.png') no-repeat;
	margin-top: 4px;
}
a.next span{
	display: block;
	float:left;
	margin-left:5px;
}

a.next{
	display: block;
	float: right;
	color: #000;
	font-size: 14px;
	overflow: hidden;
}
.slide-control{
	position: absolute;
	top: 85%;
	left: 0;
	z-index: 10;
	height: 8px;
	width: 100%;
	text-align: center;
	line-height: 5px;
	vertical-align: top;
}
.slide-control a{
	display: inline-block;
	opacity: .8;
	width: 45px;
	height: 10px;
	margin-right: 20px;
	border:1px solid #fff;
}
.slide-control a.active{
	background: #fff;
}

.intro-wrap{
	margin: 35px 20px 50px;
}

.intro-wrap .work-detail-tit{
	font-size: .5rem;
	font-weight: normal;
	border-bottom: 1px solid #000;
	width: 25%;
	padding-bottom: 5px;
	font-family: "dinlight";
}

.work-detail-intro{
	margin-top: 5px;
	font-size: 0.6rem;
	font-weight: normal;
	width: 40%;
	font-family: "dinlight";
}

.det-inner{
	margin-top: 8%;
}

.det-inner .line-l{
	width: 10px;
	height: 1px;
	background: #fff;
	float: left;
	margin-top: 10px;
}
.det-inner .detail-tit{
	float: left;
}
.det-inner .detail-tit h3{
	font-weight: normal;
	font-size: .7rem;
	padding: 0 10px;
	height: 20px;
	line-height: 20px;
	color: #fff;
}
.det-inner .detail-tit p.cont{
    position: absolute;
    font-size: .7rem;
    width: 75%;
    padding-left: 10px;
    margin-top: 5px;
    color: #fff;
    font-family: "dinlight";
    line-height: 14px;
}
.det-inner .line-r{
	width: 38%;
	height: 1px;
	background: #fff;
	float: right;
	margin-top: 10px;
}

.team-inner{
	margin-top: 50%;
}

.team-inner .line-l{
	width: 15%;
	height: 1px;
	background:#3a3a3a;
	float: left;
	margin-top: 10px;
}
.team-inner .detail-tit{
	float: left;
}
.team-inner .detail-tit h3{
	font-weight: normal;
	font-size: 14px;
	padding: 0 20px;
	height: 20px;
	line-height: 20px;
	font-family: "dinlight";
}
.team-inner .detail-tit p.cont{
    position: absolute;
    font-size: 14px;
    width: 12%;
    margin-top: 10px;
    margin-left:20px;
    line-height:22px;
    text-align: justify;
    font-family: "redocn";
}
.team-inner .line-r{
	width: 68%;
	height: 1px;
	background:#3a3a3a;
	float: right;
	margin-top: 10px;
}

ul.member{
	margin: 20% 20px 0;
	height: 45%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
ul.member li{
    float: left;
    height: 50%;
    position: relative;
    z-index: 1;
}
ul.member li .detail{
	width: 100%;
	margin-top: 82%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	z-index: 2;
	display: none;
}
ul.member li.active .detail{
	display: block;
}
ul.member li .detail .line-l{
	height:1px;
	background: #fff;
	float: left;
	margin-top: 7px;
	width: 15%;
}
ul.member li .detail .line-r{
	height:1px;
	background: #fff;
	float: right;
	margin-top: 7px;
}
ul.member li .detail .detail-tit{
	float: left;
}
ul.member li .detail .detail-tit .tit{
	font-weight: normal;
	font-size: .7rem;
	padding: 0 5px;
	height: 16px;
	line-height: 16px;
	font-family: "dinlight";
}
ul.member li .detail .detail-tit .cont{
	position: absolute;
	font-size: .4rem;
	margin-left: 5px;
	line-height: 16px;
	text-align: justify;
	z-index: 5;
	color: #fff;
	font-family: "dinlight";
}
ul.member li a{
	display: block;
	width: 100%;
    height: 100%;
    background-attachment: fixed;
    position: relative;
}
ul.member li .mask{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    background: inherit;   
    -webkit-filter: blur(3px);   
    -moz-filter: blur(3px);   
    -ms-filter: blur(3px);   
    -o-filter: blur(3px);   
    filter: blur(3px);   
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false);   
}
ul.member li.active .mask{
	display: none;
}

.contact-inner{
	position: relative;
	top: 28%;
}

.contact-inner .line-l{
	width: 10px;
	height: 1px;
	background:#3a3a3a;
	float: left;
	margin-top: 10px;
	display: block;
}
.contact-inner .detail-tit{
	float: left;
}
.contact-inner .detail-tit h3{
	font-weight: normal;
	font-size: .6rem;
	padding: 0 5px;
	height: 20px;
	line-height: 20px;
	font-family: "dinlight";
}
.contact-inner .line-r{
	width: 17%;
	height: 1px;
	background:#3a3a3a;
	float: right;
	margin-top: 10px;
	display: block;
}

.contact-line{
	margin-top: 22%;
	height: 1px;
	background: #807f7f;
	width: 100%;
}
.contact-detail-wrap{
	background: #000;
	color: #fff;
}
.contact-detail-wrap{
	position: absolute;
	z-index: 2;
	top: 20%;
	left: 14%;
	width: 55%;
	line-height: 20px;
	font-weight: normal;
}
.qrcode-wrap{
	margin: 0 10px;
}
.qrcode-wrap .empty{
	display: block;
	float: left;
	width: 6%;
	height: 10px;
}
.qrcode-wrap img{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.contact-detail-wrap h4{
	font-size: .6rem;
	margin-bottom: 12px;
	font-family: "dinlight";
}
.contact-detail-wrap p{
	font-size: .6rem;
	margin-top: 5px;
	margin-bottom: 8px;
	font-family: "dinlight";
	line-height: 18px;
}
.contact-detail-wrap .txt-wrap{
	padding: 0 6%;
	width: 140%;
}
.outlink{
	overflow: hidden;
	padding-left: 6%;
	margin: 20px 0 10px;
}
.outlink a{
	display: block;
	float: left;
	margin-right: 5px;
}
a.weibo{
	width: 1.2em;
	height: 1.2em;
	background: url(../images/weibo.png) no-repeat center center;
	background-size: 1em;
}
a.qq{
	width: 1.2em;
	height: 1.2em;
	background: url(../images/qq.png) no-repeat center center;
	background-size: 1em;
}

a.wechat{
	width: 1.2em;
	height: 1.2em;
	background: url(../images/wechat.png) no-repeat center center;
	background-size: 1em;
}

.bottom-txt{
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 35%;
	background: #000;
	z-index: 2;
}

/* islider */
.slider-wrap{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
}
.islider-outer {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.islider-outer > li {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    box-align: center;
}
.islider-img > img {
    max-width: 100%;
    max-height: 100%;
}
.islider-sliding {
    z-index: 0;
}
.islider-sliding-focus {
    z-index: 1;
}
/**
 * ===========================
 * iSlider.plugin.button
 * ===========================
 */
.islider-btn-outer {
    position: absolute;
    width: 3em;
    cursor: pointer;
    bottom: -20px;
    margin: auto 0;
    display: block;
}

.islider-btn-outer.left {
    left: 0;
}

.islider-btn-outer.right {
    right: 0;
}

.islider-btn-inner {
    font-size: 0.6rem;
    color: #000;
    font-family: "dinlight";
}

.islider-btn-outer.left > .islider-btn-inner span.icon{
	display: inline-block;
	width: 12px;
	height: 8px;
	margin-top: 3px;
	background: url('../images/arrow-left.png') no-repeat;
	background-size: auto 8px;
	margin-right: 5px;
}

.islider-btn-outer.right > .islider-btn-inner span.icon{
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-top: 3px;
    background: url(../images/arrow-right.png) no-repeat;
    background-size: auto 8px;
    margin-left: 5px;
}





